<div>
    <h1>Realizar Apuesta</h1>
    <form class="form-control">
        <label>Usuario: </label><br>
        <input type="text" name="cajausuario" #cajausuario class="form-control"/><br> <br>
        <label>Real Madrid: </label><br>
        <input type="number" name="cajaRM" #cajaRM class="form-control"/><br>
        <label>Atletico de Madrid: </label><br>
        <input type="number" name="cajaATM" #cajaATM class="form-control"/><br><br>
        <label>Fecha: </label><br>
        <input type="text" name="cajafecha" #cajafecha class="form-control"/><br>
        <button (click)="realizarApuesta()">Realizar Apuesta</button>
    </form>
</div>